<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>New Message</title>
    </head>
    <body>
        <h1>New Message Form</h1>
        <a href="/">Home</a>
        <form method="POST" action="/new">
            <label for="name">Your name:</label>
            <input id="name" type="text" />
            <label for="text">Message:</label>
            <input id="text" type="text" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
