<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Message Board</title>
    </head>
    <body>
        <h1>Message Board</h1>
        <a href="/new">Add message</a>
        <% messages.forEach((item) => { %>
        <div>
            <h3 class="name"><%= item.username %></h3>
            <p class="text"><%= item.message %></p>
            <p class="date"><%= formatDate(item.added) %></p>
        </div>
        <% }) %>
    </body>
</html>
